.gitignore.bak
.vscode
./venv
venv/*
dist/*
build/*
reports/*
*.pyc
.coverage*
.mypy_cache*
.pytest_cache*
__pycache__
*.egg-info
dist
dist/*
*.pyc
__pycache__
.DS_Store
.cursor
.cursor.old
.cursor/*
.cursorignore
.claude
.claude/*
.claudeignore
AGENTS.md
CLAUDE.md
AGENTS.md.old
dep_lib_doc/*
